*{
    margin: 0;
    padding:0;
}
body{
    width: 100vw;
    height: 100vh;
   
}
h1{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    margin: 2rem;
}
.container{
    width: 50vw;
    background-color: rgb(229, 226, 222);
   margin: auto;
}

.food div{
    font-size: 1.5rem;
    padding: .5rem
}
#order-food{
    width: 8rem;
    height: 3rem;
   border-radius: 5px;
   border: transparent;
   font-size: 1rem;
}
.btn{
    width: 100%;
    background-color: rgb(228, 130, 25);
    display: flex;
    justify-content: center;
    align-items: center; padding: 1rem;
    margin-top: 1rem;
}
.orderBox {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items:center;
    gap: 1rem; /* Optional: Add some gap between columns */
}
.orderItem{
    width: 300px;
    background-color: rgb(246, 234, 219);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top:1rem;
}
img{
    width: 300px;
    height: 200px;
}
p{
    font-size: 1.5rem;
    margin-top: 1rem;
}